deployserver/App/enclave_u.*
deployserver/Enclave/enclave_t.*
deployserver/*.o
deployserver/out/

deployproxy/App/enclave_u.*
deployproxy/Enclave/enclave_t.*
deployproxy/*.o
deployproxy/out/

core/untrusted/enclave_u.*
core/trusted/enclave_t.*
core/*.o
core/out/




