dkeyserver/App/enclave_u.*
dkeyserver/Enclave/enclave_t.*
dkeyserver/App/*.o
dkeyserver/Enclave/*.o

dkeycache/App/enclave_u.*
dkeycache/Enclave/enclave_t.*
dkeycache/App/*.o
dkeycache/Enclave/*.o

core/App/enclave_hsm_u.*
core/Enclave/enclave_hsm_t.*
core/App/*.o
core/Enclave/*.o

utils/tkey_exchange/*.o
utils/tkey_exchange/sgx_tkey_exchange_t.*
utils/tkey_exchange/sgx_tkey_exchange_u.*
utils/ukey_exchange/*.o

out/

ehsm_kms_service/node_modules/
ehsm_kms_service/package-lock.json
ehsm_kms_service/logs/*/
ehsm_kms_service/*.so

ehsm_kms_service/test/cli/__pycache__
